<a href="https://colab.research.google.com/github/AmalPF/Python-Notes/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Basics**

## **Variables**

Variables are named memory locations. We can use variables to store various types of data like integers, floating point values, string, and many more data types that the python supports.
<br>
In python the variable is like a container, which holds any type of value. Suppose we store an integer value in a variable and then at some point in the program we try to store a string value into the same variable then, the variables type changes to string.

### **Rules for Declaring a Variable**
1. Variable name must contain only alphabets, numbers and underscore. No other special symbols are allowed.
2. A variable name must start with an alphabet or an underscore.
3. Python keywords cannot be used for naming a variable.

**Note:** Python is case sensitive so *var* and *VAR* are different variables in python.

In [ ]:
var = 10
VAR = 20

In [ ]:
var

10

In [ ]:
VAR

20

In [ ]:
# these are valid variable names
abc123 = 1
abc_123 = 2
_abc123 = 3

In [ ]:
abc123, abc_123, _abc123

(1, 2, 3)

In [ ]:
# these are invalid variable names
abc123$ = 4

SyntaxError: ignored

In [ ]:
abc 123 = 5

SyntaxError: ignored

In [ ]:
5abc123 = 6

SyntaxError: ignored

In [ ]:
class = 5

SyntaxError: ignored

## **Commenting**
For the readability of programs we use comments in between the codes. These comments will not be executed as codes. <br>
In python we use two types of commenting.
1. **Single line commenting:** In this we use the hash symbol (**#**). All the statements written after # will be considered as commments and will not be executed.<br>


```
# This is a comment
```


2. **Multiple line commenting:** For writing comments in multiple lines we use three single quotes to mark the beginning of the comment and for the end of the comment.


```
'''
This is 
multiple line
commenting
'''
```

## **Data Types in Python**

* Integer
* Float
* String
* List
* Tuple
* Set
* Dictionary

### **Integer**

Integer data type represents integer values like 11, -65, 0, etc.

In [ ]:
n = 10

In [ ]:
n

10

**Note:** We can use the inbuilt function type() to know what type of data a variable holds.

In [ ]:
type(n)

int

### **Float**

This data type holds floating point values like 15.6, 0.3, etc.

In [ ]:
f = 102.34

In [ ]:
f

102.34

In [ ]:
type(f)

float

Another way of representing floating point values is by using the scientific notation. Scientific notations are generally used for vary large or very small values like 98000000000 as 9.8e10 , 0.0000005 as 5e-7, etc

In [ ]:
g = 1.234e5

In [ ]:
g

123400.0

In [ ]:
type(g)

float

### **String**

String is actually a collection of characters. You can access each character of a string using indices.

In [ ]:
s = "Hello"

In [ ]:
s

'Hello'

Here the variable **s** contains the string value "hello". And we can access each character in this string using index. The index starts from 0 upto *n-1* where *n* is the number of characters in the string.
<br><br>
**Note:** The len() function can be used to find the length of the string. It can be used for other data types like list, tuple, etc to find the length or the number of elements it has.

In [ ]:
s[0]

'H'

In [ ]:
s[4]

'o'

In [ ]:
s[5]

IndexError: ignored

In [ ]:
len(s)

5

Python has a very powerful feature called negative indexing, which cannot be seen in other programming languages. Negative indexing starts from -1 to *-n* where *n* is the total number of elements. Normal indexing starts from 0 to n-1 which is from the beginning of the elements to the end, but here it starts from the end and moves to the beginning.<br>
* -1 index is the index of the last element which is equivalent to n-1. 
* Thus -2 index is similar to n-2. 
* As we go on like this we will reach the beginning that is -n which is similar 0.

In [ ]:
s[-1]

'o'

In [ ]:
s[-5]

'H'

### **List**

List is a collection of heterogeneous data (i.e, different types of data like int, float, string, etc). List is represented using square brackets '[' and ']'. List also has indexing. Each element in the list can be accessed using indices.

In [ ]:
l = [1, 2.5, "abc"]

In [ ]:
l

[1, 2.5, 'abc']

In [ ]:
l[1]

2.5

In [ ]:
len(l)

3

A list inside another list is called a nested list. To access the individual elements of the list that is inside the list, then you can use the indexing like the example given below.

In [ ]:
k = [1, 2, 3, [10, 20, 30]]

In [ ]:
k

[1, 2, 3, [10, 20, 30]]

In [ ]:
k[3]

[10, 20, 30]

In [ ]:
k[3][1]

20

### **Tuple**

Tuple is similar to list, but the difference is that tuple is represented using brackets and they are immutable unlike list that are mutable. All other properties are similar to that of the list data type.<br>
Brackets are not actually necessary for initializing a tuple, we can just use comma to separate each elements in the tuple. <br>
*There is a special case where we make a tuple with only one element. To do that we need to use the comma after that only element. Eg: (10,) or simply 10,*

In [ ]:
t1 = 1, 2, 3    # we can use (1, 2, 3) also

In [ ]:
t1

(1, 2, 3)

In [ ]:
t2 = 10,        # we can also use (10,)

In [ ]:
t2

(10,)

#### **Mutable Data Types**
These are data types whose elements can be changed after initialization. <br>
Examples are list, dictionary, etc.<br>
We can change the value of any element using the index.

In [ ]:
l = [10, 20, 30, 40]
l

[10, 20, 30, 40]

In [ ]:
l[2] = 100
l

[10, 20, 100, 40]

#### **Immutable Data Types**
These data types cannot be changed after initialization. <br>
Examples are tuple, string, etc.

In [ ]:
s = "hello"
s

'hello'

In [ ]:
s[0] = "H"

TypeError: ignored

In [ ]:
t = (1, 2, 3)
t

(1, 2, 3)

In [ ]:
t[1] = 10

TypeError: ignored

### **Set**
Set is a data type is similar to list that it is a collection of heterogeneous data, but the main difference is that it will contain only unique elements. Set is represented using curly braces { and }. Even if we initialize a set with duplicate values, it will hold only one copy of the value.<br><br>
Set does not have index.

In [ ]:
st = {1, 1.5, "abc", 1, 1, 1.2}

In [ ]:
st    # there were three 1 in the initialization set but only one 1 in the actual set.

{1, 1.2, 1.5, 'abc'}

In [ ]:
st[0]

TypeError: ignored

### **Dcitionary**
Dictionary is a very important data type in python. It is also represented using curly braces { and } like set. But it contains elements in the form of key-value pairs. These keys can be used to access the value it holds just like indices. <br>
**Note:** The key should be an immutable data type. Value can be any data type like list, string or even dictionary (nested dictionary).
<br>
We can use the following functions:
* **keys()**: will return a list of keys the dictionary holds.
* **values()**: will return a list of values the dictionary holds.
* **items()**: will return the key-value pairs (as tuple values) the dictionary has.

In [ ]:
d = {"one":1, "two":2, "three":3}

In [ ]:
d

{'one': 1, 'three': 3, 'two': 2}

In [ ]:
d["one"]

1

In [ ]:
d.keys()

dict_keys(['one', 'two', 'three'])

In [ ]:
d.values()

dict_values([1, 2, 3])

In [ ]:
d.items()

dict_items([('one', 1), ('two', 2), ('three', 3)])

## **Python Operators**

There are various operators in python using which we perform certain calculations and other tasks on operands. Operands are the values on which the operator performs the operation.<br>
Types of Operators in python are:
* Arithmetic Operator
* Conditional Operator
* Logical Operator
* Assignment Operator

### **Arithmetic Operators**
These are operators perform the basic arithmetic operations.
* Addition (+)
* Subtraction (-)
* Multiplication (*)
* Division (/)

Python has two other arithmetic operators other than these.
* Remainder or Modulus (%)
* Floor Division (//)
* Exponent (**)

In [1]:
# addition
10 + 5

15

In [2]:
# subtraction
10 - 5

5

In [3]:
# multiplication
10 * 5

50

In [7]:
# division
10 / 4

2.5

In [6]:
# remainder or modulus
10 % 4    # when we divide 10 by 4 we get the remainder of 2

2

In [10]:
# floor division
10 // 4

2

**Note:** Division of always returns float values for integer operands. But floor division returns the integer value.

In [38]:
# exponent
3 ** 2    # this is 3 to the power 2 which is 3*3 = 9

9

### **Conditional Operators**
These operators are used to form a condition to check whether the condition is true or false. 
* Equal to (==)
* Not equal to (!=)
* Greater than (>)
* Less than (<)
* Greater than or equal to (>=)
* Less than or equal to (<=)

In [19]:
# equal to
10 == 15

False

In [20]:
# not equal to 
5 != 6

True

In [21]:
# greater than
5 > 6

False

In [22]:
# less than
5 < 6

True

In [23]:
# greater than or equal to
5 >= 5

True

In [24]:
# less than or equal to 
6 <= 6

True

### **Logical Operators**
Python has the three basic logical operators in it.
* AND operator (and)
* OR operator (or)
* NOT operator (not)

*Mainly these operators are applied on conditions to derive into a final result.*

In [11]:
# AND operator
(10 > 5) and ('a' != 'A')

True

In [12]:
(10 < 5) and ('a' != 'A')

False

In [16]:
(10 < 5) and ('a' == 'A')

False

In [13]:
# OR operator
(10 > 5) or ('a' != 'A')

True

In [14]:
(10 < 5) or ('a' != 'A')

True

In [15]:
(10 < 5) or ('a' == 'A')

False

In [18]:
# NOT opeartor
not (10 > 5)

False

### **Assignment Operator**
This operator is used to assign values to variables. The operator used here is =. The value is assigned from the right to the left.

In [25]:
# the assignment operator is used to assign the value 10 to the variable var
var = 10

In [26]:
# here the calculated value of 10 + 5 is assigned to the variable result
result = 10 + 5
result

15

**Note:** There is a way to assign multiple values to multiple variables in a single line of code in python using comma.

In [34]:
# a, b and c are assigned the values 10, 20 and 30 respectively.
a, b, c = 10, 20, 30

In [28]:
a, b, c

(10, 20, 30)

There are some shortcuts to do an arithmetic operation and then assign it to the same variable which was an operand in the expression.

In [29]:
# variables a has the value 10 from the above code
a += 5    # this is same as a = a + 5
a

15

In [30]:
a -= 3    # this is same as a = a - 3
a

12

In [31]:
a *= 2    # this is same as a = a * 2
a

24

In [32]:
a /= 3    # this is same as a = a / 3
a

8.0

In [35]:
# variables b has the value 20 from the above code
b %= 6    # this is same as b = b % 6
b

2

In [36]:
# variables c has the value 30 from the above code
c //= 7    # this is same as c = c // 7
c

4

In [37]:
c **= 2    # this is same as c = c ** 2
c

16

### **Concatenation and Multiplication**
You can use + and * operator to perform other operatons other than the basic arithmetic operations.<br>

If you use + operator with two string, list, set, or other data type that have a collection of values, then the result will be a concatenation of the two operands into a single string, list, set, etc.<br>

If you use * operator with an positive integer and a string, list, set or other data type that have a collection of values, then the result will be that many times as the integer of the other operand.

In [11]:
# concatenation
"hello" + "everyone"

'helloeveryone'

In [12]:
[1, 2, 3] + [10, 20]

[1, 2, 3, 10, 20]

In [13]:
# multiplicaton
"hello" * 10

'hellohellohellohellohellohellohellohellohellohello'

In [14]:
[1, 0] * 5

[1, 0, 1, 0, 1, 0, 1, 0, 1, 0]

**Note:** The property of an operator to act differently according to the situation or the operands given is called **operator overloading**.

## **Inputs and Outputs**
Inputting data from a user into the program and outputting the data to the user are important parts of a programming language.

### **Input**
In python we use the function **input()** to read values from a user into the program. You can store the value read into a variable. You can even provide a message inside the input() function as a parameter for the user while reading a value.
<br>
**Syntax:**
```
variable_name = input("message")
```
**Note:** The input function always return a string value whether you are reading an integer, float or a string value. So to store it as an integer or a float value you need to change the type of the value the input() function is returning.

In [1]:
name = input("Enter a name : ")

Enter a name : John

In [2]:
# the name you entered has been stored inside the variable name
name

'John'

In [3]:
# to store an integer value you must change the type
n = int(input("Enter a number : "))

Enter a number : 10

In [4]:
n

10

In [5]:
type(n)

int

In [6]:
# if you don't provide a type, then
n = input("Enter a number : ")

Enter a number : 10

In [7]:
n

'10'

In [8]:
type(n)   # the default type would be string

str

### **Output**
To output or display data to the user you can use the function **print()**. You can provide any values inside the print() function as parameters to display it to the user.<br>
**Syntax:**
```
print(value_1, value_2,..., value_n)
```
**Note:** The print function has two important parameters, **sep** and **end**. 
* sep parameter is used to set what string should be added between two values while displaying. The default value is a space.
* end parameter is used to print the ending string of the print statement. The default value in a newline ('\n') character.

In [9]:
print("hello")

hello

In [10]:
print("The number entered above was :", n)

The number entered above was : 10

You can see that a space was added between the string and the integer value by default using the value of sep parameter.

In [11]:
print("This", "is", "a", sep="-")
print("sentence")

This-is-a
sentence

Here the sep parameter is set to the character '-', hence the - symbol is added between the string values in the first print statement. The second print statment's string value has been printed below the first statement because the default newline character value in the end parameter.

In [13]:
print("This", "is", "a", end="#")
print("sentence")

This is a#sentence

Instead of newline character a # symbol has been added to the end of the string.

## **Flow of exection**
The normal flow of execution of a program is from top to bottom. But that flow can be alter. Sometimes we may skip certain code or execute some code for multiple number of times.

### **Conditional Statements**
This statement is used to execute a block of statement based on a condition. 
<br><br>
**Note:** In python we use indendation to separate blocks of statements unlike curly brases in C, CPP or Java.

#### **if statement**
**Syntax:**


```
if condition:
    # body of if
```

In [47]:
a  = 10
if a > 5:                           # here the condition is true, so the body of the if statement will be executed
    print("a is larger than 5")     # this code will be executed            
print("code after if")

a is larger than 5
code after if

In [46]:
b  = 10
if b < 10:                          # here the condition is false, so the body of the if statement will not be executed
    print("b is less than 10")      # this code will not be executed
print("code after if")

code after if

In [48]:
a  = 5
if 1 < a and a < 10:     
    print("a is between 1 and 10")    
print("code after if")

a is between 1 and 10
code after if

#### **if-else**
When we have two block of codes and based on a condition we need to execute only one of the block, then we can use if-else.
<br>
**Syntax:**


```
if condition:
    # body of if
else:
    # body of else
```

In [41]:
a = 10  
if a > 5:       # here the given condition is true, hence the body of if will be executed
    a = True    # this code will be executed and a gets the boolean value True
else:           # since the condition given in if is true, else part will be skipped
    a = False   # this code will not be executed
a

True

In [43]:
a = 5
if a > 5:       # here the given condition is false, hence the body of if will be skipped
    a = True    # this code will not be executed 
else:           # since the condition given in if is false, else part will be executed
    a = False   # this code will be executed and a will get the boolean value False
a

False

#### **if-else-if ladder**
You can also give another if condition on the else part and another if in the else part of that if, and thus forms and if-else-if ladder.
<br>
**Syntax:**
```
if condition1:
    # body of if 1
else:
    if condition2:
        # body of if 2
    else: 
        if condition3:
            # body of if 3
            .....
```
You can use **elif** insead of else if.
**Syntax:**
```
if condition1:
    # body of if 1
elif condition2:
    # body of if 2
elif condition3:
    # body of if 3
    .....
else:
    # body of else
```

In [14]:
choice = 3
if choice == 1:
    print("Choice is 1")
else:
    if choice == 2:
        print("Choice is 2")
    else:
        print("Some other choice")

Some other choice

In [15]:
choice = 2
if choice == 1:
    print("Choice is 1")
elif choice == 2:
    print("Choice is 2")
else:
    print("Some other choice")

Choice is 2

### **Loops**
Loops or iteration statements are those statements that lets you execute a block of code for multiple number of times.

#### **for loop**
In Python the for loop is an iteration statement that iterates a block of statements for a certain number of times as the length of the elements given to iterate in the loop.<br>
**Syntax:**
```
for iterating_variable in elements:
    # loop body
```
* *elements* is the part where you provide the list of elements. You can use the data types string, list, tuple, set, dictionary or a collection of values in place of the *elements*. You can also use the function **range()** to get a list of integer values.
* iterating_variable will get each value from the list of values at each iteration. So the loop will work *n* number of times, where the *n* is the number of elements in the list of values.

In [17]:
for i in [10, 20, 30, 40]:
    print(i)

10
20
30
40

In [18]:
for i in "hello":
    print(i)

h
e
l
l
o

In [19]:
for i in [10, [1, 2, 3], "abc"]:
    print(i)

10
[1, 2, 3]
abc

**Syntax of range():**

```
range(lower_limit, upper_limit, increament/decrement)
```
The function will return a list of values staring from the lower_limit and the series of values by incrementing or decrementing each by the value given till upper_limit-1.<br>
**Example:**<br>
range(0, 10, 2) will return the list of values 0, 2, 4, 6, 8
range(1, 5) will return 1, 2, 3, 4
range(6) will return 0, 1, 2, 3, 4, 5

In [24]:
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

In [25]:
for i in range(2, 10):
    print(i)

2
3
4
5
6
7
8
9

In [26]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [28]:
for i in range(10, 1, -1):    # reversing the range values you can use decrement
    print(i)

10
9
8
7
6
5
4
3
2

#### **while loop**
While loops iterates a block of statements based on a given condition. It iterates as long as the condition remains true and terminates when the condition turns to be false (if it does not become false then an infinite loop condition occurs).<br>
**Syntax:**

```
while condition:
    # body of loop
```

In [1]:
i = 1
while i < 10:
    print(i)
    i += 1        # the increment/decrement step must be included, otherwise the loop becomes infinite

1
2
3
4
5
6
7
8
9

#### **Jump Statements**
There are two jump statements used in python:
1. **break:** It is used to break out from the exection of a loop and the exection continues with the following statements after the loop.
2. **continiue:** It is used to by pass the current iteration and moves to the next iteration.

In [2]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

Here the program breaks the loop when the condition given becomes true (i.e, i = 3) and executes the break statement. Thus the remaining iterations are not done.

In [3]:
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

Here the program bypass an iteration in the loop when the condition given becomes true (i.e, i = 3) and executes the continiue statement. Thus the print statement is not executed when i becomes 3.

## **Defining Functions**
Functions are named block of statements that can be called at the any part of the code (as the scope of the function) for as many times as we need.<br>

There are mainly two parts for a function, that is the function definition and the function call. Function definition is where you declare or define the body of the function, how and what it should execute. The function call is the part where you invoke the defined function and the interpreter will execute the function body codes.<br>

**Note:** The function definition must be declared before the function call statement. As the flow of exection if a function definition comes after the function call, then an error will occur stating that the function was not declared.<br><br>

In python functions are defined using the keyword **def**, then we provide the name of the function and them inside the brackets we give the parameters for the function.<br>
**Syntax:**

```
def function_name(parameter list):
    # body of function
```

In [5]:
def say_hello():
    print("Hello everyone!")

In [6]:
say_hello()

Hello everyone!

In [9]:
def say_hi(n):        # parameter is given
    print("Hi "*n)

In [10]:
say_hi(5)

Hi Hi Hi Hi Hi

### **Recursive Functions**
Recursive functions are those function that calls themselves in their function body or function definition. This will cause the function to call itself like a never ending loop, so make sure to provide some condition to terminate this infinite calling. <br>
*Recursion is sometimes considered more efficient that loops.*
<br>

**Example:**
```
def function_name(parameters):
    # body
    function_name(parameters)
    # body
```

In [18]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n-1)

In [19]:
factorial(4)

24