<a href="https://colab.research.google.com/github/AmalPF/Python-Notes/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Basics**

## **Variables**

Variables are named memory locations. We can use variables to store various types of data like integers, floating point values, string, and many more data types that the python supports.
<br>
In python the variable is like a container, which holds any type of value. Suppose we store an integer value in a variable and then at some point in the program we try to store a string value into the same variable then, the variables type changes to string.

### **Rules for Declaring a Variable**
1. Variable name must contain only alphabets, numbers and underscore. No other special symbols are allowed.
2. A variable name must start with an alphabet or an underscore.
3. Python keywords cannot be used for naming a variable.

**Note:** Python is case sensitive so *var* and *VAR* are different variables in python.

In [4]:
var = 10
VAR = 20

In [5]:
var

10

In [6]:
VAR

20

In [12]:
abc123 = 1
abc_123 = 2
_abc123 = 3

In [13]:
abc123, abc_123, _abc123

(1, 2, 3)

In [16]:
abc123$ = 4

SyntaxError: ignored

In [17]:
abc 123 = 5

SyntaxError: ignored

In [18]:
5abc123 = 6

SyntaxError: ignored

In [10]:
class = 5

SyntaxError: ignored

## **Commenting**
For the readability of programs we use comments in between the codes. These comments will not be executed as codes. <br>
In python we use two types of commenting.
1. **Single line commenting:** In this we use the hash symbol (**#**). All the statements written after # will be considered as commments and will not be executed.<br>


```
# This is a comment
```


2. **Multiple line commenting:** For writing comments in multiple lines we use three single quotes to mark the beginning of the comment and for the end of the comment.


```
'''
This is 
multiple line
commenting
'''
```

## **Data Types in Python**

* Integer
* Float
* String
* List
* Tuple
* Set
* Dictionary

### **Integer**

Integer data type represents integer values like 11, -65, 0, etc.

In [19]:
n = 10

In [20]:
n

10

**Note:** We can use the inbuilt function type() to know what type of data a variable holds.

In [21]:
type(n)

int

### **Float**

This data type holds floating point values like 15.6, 0.3, etc.

In [22]:
f = 102.34

In [23]:
f

102.34

In [24]:
type(f)

float

Another way of representing floating point values is by using the scientific notation. Scientific notations are generally used for vary large or very small values like 98000000000 as 9.8e10 , 0.0000005 as 5e-7, etc

In [25]:
g = 1.234e5

In [26]:
g

123400.0

In [27]:
type(g)

float

### **String**

String is actually a collection of characters. You can access each character of a string using indices.

In [3]:
s = "Hello"

In [4]:
s

'Hello'

Here the variable **s** contains the string value "hello". And we can access each character in this string using index. The index starts from 0 upto *n-1* where *n* is the number of characters in the string.
<br><br>
**Note:** The len() function can be used to find the length of the string. It can be used for other data types like list, tuple, etc to find the length or the number of elements it has.

In [5]:
s[0]

'H'

In [6]:
s[4]

'o'

In [7]:
s[5]

IndexError: ignored

In [8]:
len(s)

5

Python has a very powerful feature called negative indexing, which cannot be seen in other programming languages. Negative indexing starts from -1 to *-n* where *n* is the total number of elements. Normal indexing starts from 0 to n-1 which is from the beginning of the elements to the end, but here it starts from the end and moves to the beginning.<br>
* -1 index is the index of the last element which is equivalent to n-1. 
* Thus -2 index is similar to n-2. 
* As we go on like this we will reach the beginning that is -n which is similar 0.

In [9]:
s[-1]

'o'

In [10]:
s[-5]

'H'

### **List**

List is a collection of heterogeneous data (i.e, different types of data like int, float, string, etc). List is represented using square brackets '[' and ']'. List also has indexing. Each element in the list can be accessed using indices.

In [11]:
l = [1, 2.5, "abc"]

In [12]:
l

[1, 2.5, 'abc']

In [13]:
l[1]

2.5

In [14]:
len(l)

3

A list inside another list is called a nested list. To access the individual elements of the list that is inside the list, then you can use the indexing like the example given below.

In [16]:
k = [1, 2, 3, [10, 20, 30]]

In [17]:
k

[1, 2, 3, [10, 20, 30]]

In [18]:
k[3]

[10, 20, 30]

In [19]:
k[3][1]

20

### **Tuple**

Tuple is similar to list, but the difference is that tuple is represented using brackets and they are immutable unlike list that are mutable. All other properties are similar to that of the list data type.<br>
Brackets are not actually necessary for initializing a tuple, we can just use comma to separate each elements in the tuple. <br>
*There is a special case where we make a tuple with only one element. To do that we need to use the comma after that only element. Eg: (10,) or simply 10,*

In [27]:
t1 = 1, 2, 3    # we can use (1, 2, 3) also

In [28]:
t1

(1, 2, 3)

In [29]:
t2 = 10,        # we can also use (10,)

In [30]:
t2

(10,)

#### **Mutable Data Types**
These are data types whose elements can be changed after initialization. <br>
Examples are list, dictionary, etc.<br>
We can change the value of any element using the index.

In [31]:
l = [10, 20, 30, 40]
l

[10, 20, 30, 40]

In [32]:
l[2] = 100
l

[10, 20, 100, 40]

#### **Immutable Data Types**
These data types cannot be changed after initialization. <br>
Examples are tuple, string, etc.

In [33]:
s = "hello"
s

'hello'

In [34]:
s[0] = "H"

TypeError: ignored

In [35]:
t = (1, 2, 3)
t

(1, 2, 3)

In [36]:
t[1] = 10

TypeError: ignored

### **Set**
Set is a data type is similar to list that it is a collection of heterogeneous data, but the main difference is that it will contain only unique elements. Set is represented using curly braces { and }. Even if we initialize a set with duplicate values, it will hold only one copy of the value.<br><br>
Set does not have index.

In [39]:
st = {1, 1.5, "abc", 1, 1, 1.2}

In [40]:
st    # there were three 1 in the initialization set but only one 1 in the actual set.

{1, 1.2, 1.5, 'abc'}

In [41]:
st[0]

TypeError: ignored

### **Dcitionary**
Dictionary is a very important data type in python. It is also represented using curly braces { and } like set. But it contains elements in the form of key-value pairs. These keys can be used to access the value it holds just like indices. <br>
**Note:** The key should be an immutable data type. Value can be any data type like list, string or even dictionary (nested dictionary).
<br>
We can use the following functions:
* **keys()**: will return a list of keys the dictionary holds.
* **values()**: will return a list of values the dictionary holds.
* **items()**: will return the key-value pairs (as tuple values) the dictionary has.

In [42]:
d = {"one":1, "two":2, "three":3}

In [43]:
d

{'one': 1, 'three': 3, 'two': 2}

In [44]:
d["one"]

1

In [45]:
d.keys()

dict_keys(['one', 'two', 'three'])

In [46]:
d.values()

dict_values([1, 2, 3])

In [47]:
d.items()

dict_items([('one', 1), ('two', 2), ('three', 3)])

## **Python Operators**

### **Arithmetic Operators**

### **Logical Operators**

### **Assignment Operator**

## **Flow of exection**

### **Conditional Statements**

#### **if statement**

#### **if-else**

#### **if-else-if ladder**

### **Loops**

#### **for loop**

#### **while loop**

## **Defining Functions**
Functions are named block of statements that can be called at the any part of the code (as the scope of the function) for as many times as we need.<br>
In python function are defined using the keyword **def**, then we provide the name of the function and them inside the brackets we give the parameters for the function.<br>
**Syntax:**

```
def function_name(parameter list):
    # body of function
```

In [ ]:
T